.gold-point {
    -fx-background-color: gold;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}
#scoreLabel {
    -fx-font-size: 20px;
    -fx-text-fill: black;
}
